.main_wrap {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 20px;
    align-items: start;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
}

.main_panel_container {
    background: #FFFF;
    box-shadow: 0 10px 24px rgba(0, 0, 0, .1);
    border-radius: 10px;
    .main_panel_tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e6e8;
        margin-bottom: 35px;
        .main_panel_item {
            padding: 18px 12px;
            font: 600 .95rem 'Roboto', sans-serif;
            color: #8b90a0;
            position: relative;
        }
        .main_panel_item_active {
            color: #000;
            &::before {
                content: '';
                height: 3px;
                width: 100%;
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                background: #dbbb92;
            }
        }
    }
}

.main_contentn_container {
    h1 {
        margin-bottom: 25px;
        font: 600 2rem 'Roboto', sans-serif;
        @media (max-width: 990px) {
            margin-bottom: 15px;
            font: 600 1.5rem 'Roboto', sans-serif;
        }
    }
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 15px;
        font: 600 1.5rem 'Roboto', sans-serif;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            font: 600 1.25rem 'Roboto', sans-serif;
        }
    }
    p {
        color: #505565;
        margin-bottom: 15px;
        font: 400 1rem/25px 'Roboto', sans-serif;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            font: 400 .9rem/21px 'Roboto', sans-serif;
        }
    }
    ul {
        margin: 0;
        margin-bottom: 15px;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            grid-gap: 10px;
        }
        li {
            position: relative;
            font: 400 1rem/25px 'Roboto', sans-serif;
            color: #505565;
            padding-left: 20px;
            @media (max-width: 990px) {
                margin-bottom: 10px;
                font: 400 .9rem/21px 'Roboto', sans-serif;
            }
            &::before {
                content: '';
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: #000;
                position: absolute;
                left: 0;
                top: 9px;
                display: block;
            }
        }
    }
    ol {
        margin: 0;
        margin-bottom: 15px;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding-left: 15px;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            grid-gap: 10px;
        }
        li {
            position: relative;
            font: 400 1rem/25px 'Roboto', sans-serif;
            color: #505565;
            padding-left: 0;
            @media (max-width: 990px) {
                margin-bottom: 10px;
                font: 400 .9rem/21px 'Roboto', sans-serif;
            }
        }
    }
}